*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__

venv
.idea/*

datasets/*/*/*.pickle
data/dataset/*.pickle
data/splitted/*.pickle

logs/*
hash/*
output/*
results/*
checkpoints/*
parameters/*

models/PassGPT/tokenizer/*

script/utils/plot.py
script/metrics/utils/*.txt